---
import QCounter from "@/components/QCounter";
import QCounterValue from "@/components/QCounterValue";

---
<div class="card bg-slate-700 max-w-7xl m-auto">
  <div class="card-body">
    
    <p class="text-white">
      This is an Astro component using nanoStore to get the values setted in qwik components
    </p>
    
    <span id="counter-value" class="text-info"></span>

    <QCounter />
    <QCounterValue />
  </div>
</div>

<script src="./counter.script.ts" />