---
import Counter from '@/components/Counter/Counter.astro';
import Layout from '@/layouts/Layout.astro';
import { slide } from 'astro:transitions';

const authorization = Astro.cookies.get("authorization");

if (Astro.request.method === "POST") {
  Astro.cookies.delete("authorization");
  return Astro.redirect("/");
}

---

<Layout title='Edsoma - Login'>
  <main class="max-w-7xl m-auto pt-8">
    <a href="/" class="btn btn-secondary absolute left-8 top-8 w-32">{'< Back'}</a>

    <h1 class="text-6xl font-bold mb-32" transition:name="main-title" transition:animate={slide({ duration: '0.5s' })}>
      Home Page
    </h1>

    <form action="/home" method="POST" class="mb-12 w-full flex flex-col gap-8 items-center justify-center">
      <span class="text-info text-2xl font-bold">
        {['Logged in as', authorization?.value].join(' ')}
      </span>

      <button class="btn btn-primary w-36" type="submit">Logout</button>
    </form>

    <Counter transition:persist />
  </main>
</Layout>